body{
    background-repeat:no-repeat; /*Não repetir a imagem*/
    background-size: cover; /*Ficou muito grande e sem a imagemque fica no final*/
    background-position: center center; /*Comecou a "centralizar pelo meio*/
}

    ul 
    {
        display:flex; /* como vai ficar o dispaly*/
        border: #dff51c;
        justify-content:space-around; /* Posição das Palavras ul*/
        padding: 20px; /*Espaço entre eles*/
        padding-left: 20%;
        padding-right: 20%;
        align-items: center;/* Alinhar os itens no centr*/
        list-style-type: none;
    }
 ul header{
    display:inline-block;
    align-items: center;
    justify-content: center;
    width: 33.3333%;
    height: 40px;
    padding: 20 10px;
    }

     li{
        
            background-color:#2196f3;
            padding: 2px;
            flex-direction:column;/*Coluna do lado*/
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
}
.elementor{ /* Seção Cardapio e Promoçoes*/

    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 20 10px;    
    padding-top: 75px;/*distancia entre itens um em cima do outro*/
    position: relative;
    
}
.elementor h1{/*Texto Cardapio*/
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    position:relative;
    padding-left: 550px;
}
.baixo h1{  /*Texto Promoção*/
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    position:relative;
    align-items: center;
    justify-content: center;
    padding-left: 550px;
    padding-top: 25px;
    
}

.card{
    position: relative;
    width: 170px;
    height: 220px;
    background: rgba(71, 20, 71, 0.452);
    border-radius: 20px;
    overflow:hidden;
   
}
    .card:before{
        content: '';
        position: absolute;
        top: -50%;
        width: 100%;
        height: 100%;
        background: #afd1ec;
        transform: skewY(345deg);
        transition: 0.5s;
}
.card:hover::before{
    transform: skewY(390deg);
    top: -70%;
}
.card::after{
    
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 7.9em;
    color: rgba(0, 0, 0, 0.1);
}
.card .imgBx{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    z-index: 1;
}
.card .imgBx img{
    max-width: 80%;
    transition: 0.5s;
}
.card:hover .imgBx img{
    max-width: 70%;
}
main.cards{
    display:flex;
    padding: 150px;/*Distancia*/
}
main.cards section.card{
    display: flex;
    flex-direction:column;/*Coluna do lado*/
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    margin-left: 50px;/*Distancia entre os card*/
    box-shadow: 50px 50px 100px -50px blue;/*sombra*/
}

main.cards section.card button{
padding: 0.5rem 1rem;
text-transform:uppercase;
border-radius: 32px;
border: 0;
cursor:pointer;
font-size: 80%;
font-weight: 100;
}
    

@media screen and (max-width:720px){/*Quando chegar 720 a tela, ele vai mudar para coluna um em baixo do outro*/
    main.cards{
        flex-direction: column;
    }

    main.cards section.card{
        margin-left: 0;
        margin-bottom: 32px;
    }
    
}