*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins", sans-serif;
    outline: none;
    border:none;  
    text-transform: capitalize;
    transition: all 2s line;
}
body { 
    background-size: cover;
    background-position: center;/*conseguir centralizar a imagem*/
    }
    


header{
    
    position:relative;
    top:0; left: 0; right:0;
    background: rgb(0, 0, 0);
    padding: 0;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content:space-between ;
    z-index: 1000;
    
}

header .logo{
    color: black;
    font-size: 1px;
    font-weight: bolder;
}

header .logo i{
    color:black;
}

header .cabeçalho-link a{
    font-size: 1.7rem;
    border-radius: 5rem;
    padding:.5rem 1.5rem;
    color:white;
 
}
header .cabeçalho-link a.active,
header .cabeçalho-link a:hover{
    color:rgb(88, 15, 148);
    background: rgb(59, 5, 66);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4rem;
    line-height: 4rem;
    width:4rem;
    text-align: center;
    font-size: 1.7rem;
    color:rgb(133, 12, 133);
    border-radius: 50%;
    background: rgb(252, 246, 246);
}
button {

    color: rgb(86, 15, 128); 
    padding: 5px;
    width: 150px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
} /* margem e bordas modificadas, para possuir um formato mais oval, incluindo aqui também a cor preta para as letras*/

    button:hover{
        background-color: rgb(114, 27, 172);
        color:white;
    } /* quando o usuario passar o cursor em cima de cada opção, ele mudará de cor*/


header .icons i:hover,
header .icons a:hover{
    color:rgb(248, 246, 246);
    background:rgb(86, 15, 128);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: inline-block;
}
 
main h2 {
   
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    border-color: blueviolet;
}
#parecido {
    background-color: rgb(248, 58, 10);
}
main p {
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;}
   
    .diferente {display: flex;
        padding-top: 40px;
        background-color: rgb(255, 255, 255);
        width: 600px;
        padding: 30px;
        margin: auto;
        border-radius: 20px;
        box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);
    }
    .novo {text-align: center;
        background-color: rgb(250, 250, 250);
        font-size: 20px;
        width: 600px;
        padding: 30px;
        margin: auto;
        border-radius: 20px;
        box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);
    }

